{% extends "dashboard-base.html" %}

{% block links %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

{% block style %}
<style type="text/css">

.top-card{
    height: 200px;
    background-color: #000;
    margin-top: 40px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.08);
}
.image-container{
    text-align: left;
    border-right: 3px solid #fff;
    padding-left: 3%;
}
.image-card{
    width: 80%;
    margin-top: 34%;
}
.title{
    font-size: 300%;
    font-family: 'Consolas','monaco',monospace
}
.sub-title{
    font-size: 120%;
    font-weight: 900;
}
.link-container{
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.04);
    background-color: rgba(255, 255, 255, 0.97);
    padding-top: 2%;
    padding-bottom: 2%;
}
.link-title{
    text-align: center;
    font-size: 170%;
    font-weight: 300;
}
.link{
    text-align: center;
    font-size: 190%;
    font-weight: 200;
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: rgba(218, 217, 216, 0.3);
    border-radius: 12px;
}
.link-explanation{
    font-size: 100%;
    text-align: center;
    width: 90%;
    margin: auto;
}
.chart-soon{
    opacity: 0.5;
    pointer-events: none;
}

</style>
{% endblock %}

{% block content %}

<div class="mdl-grid demo-content">
  <div class="mdl-cell mdl-cell--4-col">
      <div class="top-card" style="background-color: #79c347">
          
        <div class="mdl-grid" style="height: 90%;">
          <div class="mdl-cell mdl-cell--5-col image-container">
              <img src="https://s3-sa-east-1.amazonaws.com/queromeia/multiple-users-silhouette.png" class="image-card">
          </div>
          <div class="mdl-cell mdl-cell--7-col" style="padding-top: 5%; color: #fff;">
              <div class="title">{{ total_visits }}</div>
              <br>
              <div class="sub-title">ACESSOS</div>
              <br>
              <div>Total de acessos via link de compra</div>
          </div>
        </div>

      </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
      <div class="top-card" style="background-color: #67c2ef">

        <div class="mdl-grid" style="height: 90%;">
          <div class="mdl-cell mdl-cell--5-col image-container">
              <img src="https://s3-sa-east-1.amazonaws.com/queromeia/icon.png" class="image-card">
          </div>
          <div class="mdl-cell mdl-cell--7-col" style="padding-top: 5%; color: #fff;">
              <div class="title">{{ number_partner_buys }}</div>
              <br>
              <div class="sub-title">COMPRAS</div>
              <br>
              <div>Total de compras realizadas desde o iníocio da campanha</div>
          </div>
        </div>

      </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">
      <div class="top-card" style="background-color: #f55">
      
        <div class="mdl-grid" style="height: 90%;">
          <div class="mdl-cell mdl-cell--5-col image-container">
              <img src="https://s3-sa-east-1.amazonaws.com/queromeia/dollar-symbol.png" class="image-card">
          </div>
          <div class="mdl-cell mdl-cell--7-col" style="padding-top: 5%; color: #fff;">
              <div class="title">{{ total_share_amount }}</div>
              <br>
              <div class="sub-title">REAIS</div>
              <br>
              <div>Total a receber das vendas realizadas</div>
          </div>
        </div>

      </div>
  </div>
</div>

<div class="mdl-grid demo-content">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
      <div class="link-container">
          <div class="link-title">
              Seu Link de Vendas:
          </div>
          <br>
          <div class="link">
              http://queromeia.com/{{ partner_link }}
          </div>
          <br>
          <div class="link-explanation">
              Utilize o endereço acima em banners e hyperlinks para redirecionar seus usuários para nossa loja.
          </div>
          <div class="link-explanation">
              As compras efetuadas com esses acessos serão registradas e apresentadas neste portal.
          </div>
      </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>

<div class="mdl-grid demo-content">
  <div class="mdl-cell mdl-cell--6-col">
    <div id="container" class="chart-soon" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div id="container2" class="chart-soon" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
</div>

{% endblock %}




{% block javascript %}
<script type="text/javascript">
    
$(function () {
    $('#container').highcharts({
        title: {
            text: 'Histórico de vendas - EM BREVE',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: QueroMeia Database',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Total'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Total de vendas',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }]
    });
});

$(function () {
    $('#container2').highcharts({
        title: {
            text: 'Vendas recentes - EM BREVE',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: QueroMeia Database',
            x: -20
        },
        xAxis: {
            categories: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab']
        },
        yAxis: {
            title: {
                text: 'Total'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Total de vendas',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2]
        }]
    });
});

</script>
{% endblock %}