{% extends "dashboard-base.html" %}

{% block style %}
<style type="text/css">
	
.link-container{
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.04);
    background-color: rgba(255, 255, 255, 0.97);
    padding-top: 2%;
    padding-bottom: 2%;
}
.link-title{
    text-align: center;
    font-size: 170%;
    font-weight: 300;
}
.link{
    text-align: center;
    font-size: 190%;
    font-weight: 200;
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: rgba(218, 217, 216, 0.3);
    border-radius: 12px;
}
.title-explanation{
    font-size: 100%;
    text-align: center;
    width: 90%;
    margin: auto;
}
.link-explanation{
    font-size: 130%;
    text-align: center;
    font-weight: 800;
    width: 90%;
    margin: auto;
}
.mdl-textfield__label::after{
  background-color: #eec92c;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label{
  color: #eec92c !important;
}
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label{
  color: #eec92c !important;
}
.mdl-button--raised.mdl-button--colored{
  background: #eec92c;
}
.submit-button{
  margin-top: 20px;
  font-size: 22px;
  height: initial;
  padding: 18px;
  padding-top: 5px;
  padding-bottom: 4px;
}
.android-sub-slogan{
  font-size: 18px;
}
a {
    color: rgba(0,0,0,.7);
    font-weight: 500;
    text-decoration: none;
}
.android-fab{
  background: #eec92c !important;
}
.android-wear-band{
  background-color: rgba(0,0,0,0);
}
#password-change{
  text-align: center;
}
</style>
{% endblock %}

{% block content %}

<div class="mdl-grid demo-content">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
      <div class="link-container">
          <br>
          <div class="link-title">
              Quer trocar sua senha?
          </div>
          <br>
          <div class="title-explanation">
              Digite sua nova senha nos campos abaixo:
          </div>
          <br>

          <form action="{% url 'password_update' %}" id="password-change" method="post">
            {% csrf_token %}
            <br>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 50%;">
              <input class="mdl-textfield__input" id="password" type="password" name="password">
              <label class="mdl-textfield__label">Senha</label>
            </div>

            <label id="password_error" style="display: none; color: red;"><br>A senha deve ter o mínimo 6 carácteres</label>

            <br>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 50%;">
              <input class="mdl-textfield__input" id="password_again" type="password" name="password_again">
              <label class="mdl-textfield__label">Repita a senha</label>
            </div>

            <label id="password_again_error" style="display: none; color: red;"><br>As senhas são diferentes</label>

            {% if success_password_reset == 1 %}
            <div style="color: green;">Senha alterada com sucesso</div>
            {% endif %}

            {% if success_password_reset == 0 %}
            <div style="color: red;">Erro ao alterar senha</div>
            {% endif %}

            <br>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored submit-button" type="submit" name="action" id="password-change-button">Confirmar</button>
            <br><br>
          </form>

      </div>
  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">

var flag_password = false;
var flag_password_again = false;
$("#password-change-button").prop('disabled', true);

$("#password").on("change keyup paste", function () {
  var password_length = $("#password").val().length;
  if (password_length < 6) {
    flag_password = false;
    $("#password_error").css("display","inline");
  }else{
    flag_password = true;
    $("#password_error").css("display","none");
  }
  enable_buttom(flag_password, flag_password_again);
});

$("#password_again").on("change keyup paste", function () {
  var password_again_length = $("#password_again").val().length;
  var password_again = $("#password_again").val();
  var password = $("#password").val();
  if (password_again_length < 6) {
    flag_password_again = false;
    $("#password_again_error").css("display","inline");
  }else{
    flag_password_again = false;
    $("#password_again_error").css("display","inline");
    if (password == password_again) {
      flag_password_again = true;
      $("#password_again_error").css("display","none");
    }
  }
  enable_buttom(flag_password, flag_password_again);
});

function enable_buttom(flag_password, flag_password_again){
  if (flag_password == true && flag_password_again == true) {
    $("#password-change-button").prop('disabled', false);
  }else{
    $("#password-change-button").prop('disabled', true);
  }
}

</script>
{% endblock %}
